body {
  background-image: url(images/les.png);
  background-size: cover;
  overflow: hidden;
}

@font-face {
  font-family: 'Sangha'; /* Название вашего шрифта */
  src: url('fonts/sangha.ttf') format('truetype'); /* Путь к вашему файлу шрифта и его формат */
}

#balance_display {
  color: rgb(0, 0, 0);
  font-size: 37px;
  text-align: center;
  margin-left: 200px;
  position: relative;
  top: -750px;
  font-family: 'Sangha', sans-serif; /* Используем ваш шрифт */
}

#capybara_main {
  margin-left: 40%;
  position: relative;
  top: -120px;
}

#dumplings_click_main {
  background-color: transparent;
  transform: scale(0.2);
  margin-left: -70%;
  margin-top: -22%; /* Изменили значение отступа вверх на 20% */
  display: block;
  mask-image: 0 auto;
}

#capybara_main {
  width: 50%; /* Пример использования процентов */
}




